<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6IkRldmljZVRlc3RB
		cHAiLCJwYWNrYWdlS2luZCI6eyJyb290Ijp7fX0sInBsYXRmb3JtcyI6W3si
		b3B0aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6ImlvcyIsInZlcnNpb24iOiIx
		NS4yIn0seyJvcHRpb25zIjpbXSwicGxhdGZvcm1OYW1lIjoibWFjb3MiLCJ2
		ZXJzaW9uIjoiMTQuMyJ9LHsib3B0aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6
		InR2b3MiLCJ2ZXJzaW9uIjoiMTUuMCJ9LHsib3B0aW9ucyI6W10sInBsYXRm
		b3JtTmFtZSI6IndhdGNob3MiLCJ2ZXJzaW9uIjoiOC4wIn0seyJvcHRpb25z
		IjpbXSwicGxhdGZvcm1OYW1lIjoidmlzaW9ub3MiLCJ2ZXJzaW9uIjoiMS4w
		In1dLCJwcm9kdWN0cyI6W3sibmFtZSI6IkRldmljZSIsInNldHRpbmdzIjpb
		XSwidGFyZ2V0cyI6WyJEZXZpY2UiXSwidHlwZSI6eyJsaWJyYXJ5IjpbImF1
		dG9tYXRpYyJdfX0seyJuYW1lIjoiRGV2aWNlVGVzdEFwcCIsInNldHRpbmdz
		IjpbeyJ0ZWFtSWRlbnRpZmllciI6WyIzUVBWODk0QzMzIl19LHsiZGlzcGxh
		eVZlcnNpb24iOlsiMS4wLjIiXX0seyJidW5kbGVWZXJzaW9uIjpbIjEiXX0s
		eyJpT1NBcHBJbmZvIjpbeyJhY2NlbnRDb2xvciI6eyJwcmVzZXRDb2xvciI6
		eyJwcmVzZXRDb2xvciI6eyJyYXdWYWx1ZSI6ImJsdWUifX19LCJhcHBDYXRl
		Z29yeSI6eyJyYXdWYWx1ZSI6InB1YmxpYy5hcHAtY2F0ZWdvcnkuZGV2ZWxv
		cGVyLXRvb2xzIn0sImFwcEljb24iOnsiYXNzZXQiOnsibmFtZSI6IkFwcElj
		b24ifX0sImNhcGFiaWxpdGllcyI6W3sicHVycG9zZSI6Im91dGdvaW5nTmV0
		d29ya0Nvbm5lY3Rpb25zIn1dLCJzdXBwb3J0ZWREZXZpY2VGYW1pbGllcyI6
		WyJwYWQiLCJwaG9uZSJdLCJzdXBwb3J0ZWRJbnRlcmZhY2VPcmllbnRhdGlv
		bnMiOlt7InBvcnRyYWl0Ijp7fX0seyJsYW5kc2NhcGVSaWdodCI6e319LHsi
		bGFuZHNjYXBlTGVmdCI6e319LHsicG9ydHJhaXRVcHNpZGVEb3duIjp7ImNv
		bmRpdGlvbiI6eyJkZXZpY2VGYW1pbGllcyI6WyJwYWQiXX19fV19XX1dLCJ0
		YXJnZXRzIjpbIkRldmljZVRlc3RBcHBNb2R1bGUiXSwidHlwZSI6eyJleGVj
		dXRhYmxlIjpudWxsfX1dLCJ0YXJnZXRNYXAiOnsiRGV2aWNlIjp7ImRlcGVu
		ZGVuY2llcyI6W10sImV4Y2x1ZGUiOltdLCJuYW1lIjoiRGV2aWNlIiwicGFj
		a2FnZUFjY2VzcyI6dHJ1ZSwicGF0aCI6IlNvdXJjZXMiLCJyZXNvdXJjZXMi
		OltdLCJzZXR0aW5ncyI6W10sInR5cGUiOiJyZWd1bGFyIn0sIkRldmljZVRl
		c3RBcHBNb2R1bGUiOnsiZGVwZW5kZW5jaWVzIjpbeyJieU5hbWUiOlsiRGV2
		aWNlIixudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkRldmljZVRlc3RB
		cHBNb2R1bGUiLCJwYWNrYWdlQWNjZXNzIjp0cnVlLCJwYXRoIjoiRGV2ZWxv
		cG1lbnQiLCJyZXNvdXJjZXMiOlt7InBhdGgiOiJSZXNvdXJjZXMiLCJydWxl
		Ijp7InByb2Nlc3MiOnt9fX1dLCJzZXR0aW5ncyI6W3sia2luZCI6eyJlbmFi
		bGVVcGNvbWluZ0ZlYXR1cmUiOnsiXzAiOiJCYXJlU2xhc2hSZWdleExpdGVy
		YWxzIn19LCJ0b29sIjoic3dpZnQifV0sInR5cGUiOiJleGVjdXRhYmxlIn0s
		IkRldmljZVRlc3RzIjp7ImRlcGVuZGVuY2llcyI6W3siYnlOYW1lIjpbIkRl
		dmljZSIsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJEZXZpY2VUZXN0
		cyIsInBhY2thZ2VBY2Nlc3MiOnRydWUsInBhdGgiOiJUZXN0cyIsInJlc291
		cmNlcyI6W10sInNldHRpbmdzIjpbXSwidHlwZSI6InRlc3QifX0sInRhcmdl
		dHMiOlt7ImRlcGVuZGVuY2llcyI6W10sImV4Y2x1ZGUiOltdLCJuYW1lIjoi
		RGV2aWNlIiwicGFja2FnZUFjY2VzcyI6dHJ1ZSwicGF0aCI6IlNvdXJjZXMi
		LCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W10sInR5cGUiOiJyZWd1bGFy
		In0seyJkZXBlbmRlbmNpZXMiOlt7ImJ5TmFtZSI6WyJEZXZpY2UiLG51bGxd
		fV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiRGV2aWNlVGVzdEFwcE1vZHVsZSIs
		InBhY2thZ2VBY2Nlc3MiOnRydWUsInBhdGgiOiJEZXZlbG9wbWVudCIsInJl
		c291cmNlcyI6W3sicGF0aCI6IlJlc291cmNlcyIsInJ1bGUiOnsicHJvY2Vz
		cyI6e319fV0sInNldHRpbmdzIjpbeyJraW5kIjp7ImVuYWJsZVVwY29taW5n
		RmVhdHVyZSI6eyJfMCI6IkJhcmVTbGFzaFJlZ2V4TGl0ZXJhbHMifX0sInRv
		b2wiOiJzd2lmdCJ9XSwidHlwZSI6ImV4ZWN1dGFibGUifSx7ImRlcGVuZGVu
		Y2llcyI6W3siYnlOYW1lIjpbIkRldmljZSIsbnVsbF19XSwiZXhjbHVkZSI6
		W10sIm5hbWUiOiJEZXZpY2VUZXN0cyIsInBhY2thZ2VBY2Nlc3MiOnRydWUs
		InBhdGgiOiJUZXN0cyIsInJlc291cmNlcyI6W10sInNldHRpbmdzIjpbXSwi
		dHlwZSI6InRlc3QifV0sInRvb2xzVmVyc2lvbiI6eyJfdmVyc2lvbiI6IjUu
		OS4wIn19
		</data>
		<key>manifestHash</key>
		<data>
		MOTUHfp5o+h05WYn+fcOy2rENUpQ68qhbqk/pmivbjk=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.9.0</string>
	</dict>
</dict>
</plist>
