<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6IkRldmljZSIsInBh
		Y2thZ2VLaW5kIjp7InJvb3QiOnt9fSwicGxhdGZvcm1zIjpbeyJvcHRpb25z
		IjpbXSwicGxhdGZvcm1OYW1lIjoiaW9zIiwidmVyc2lvbiI6IjE1LjIifSx7
		Im9wdGlvbnMiOltdLCJwbGF0Zm9ybU5hbWUiOiJtYWNvcyIsInZlcnNpb24i
		OiIxNC4zIn0seyJvcHRpb25zIjpbXSwicGxhdGZvcm1OYW1lIjoidHZvcyIs
		InZlcnNpb24iOiIxNS4wIn0seyJvcHRpb25zIjpbXSwicGxhdGZvcm1OYW1l
		Ijoid2F0Y2hvcyIsInZlcnNpb24iOiI4LjAifSx7Im9wdGlvbnMiOltdLCJw
		bGF0Zm9ybU5hbWUiOiJ2aXNpb25vcyIsInZlcnNpb24iOiIxLjAifV0sInBy
		b2R1Y3RzIjpbeyJuYW1lIjoiRGV2aWNlIiwic2V0dGluZ3MiOltdLCJ0YXJn
		ZXRzIjpbIkRldmljZSJdLCJ0eXBlIjp7ImxpYnJhcnkiOlsiYXV0b21hdGlj
		Il19fSx7Im5hbWUiOiJEZXZpY2VUZXN0QXBwIiwic2V0dGluZ3MiOlt7InRl
		YW1JZGVudGlmaWVyIjpbIjNRUFY4OTRDMzMiXX0seyJkaXNwbGF5VmVyc2lv
		biI6WyIxLjEuMCJdfSx7ImJ1bmRsZVZlcnNpb24iOlsiMSJdfSx7ImlPU0Fw
		cEluZm8iOlt7ImFjY2VudENvbG9yIjp7InByZXNldENvbG9yIjp7InByZXNl
		dENvbG9yIjp7InJhd1ZhbHVlIjoiYmx1ZSJ9fX0sImFwcENhdGVnb3J5Ijp7
		InJhd1ZhbHVlIjoicHVibGljLmFwcC1jYXRlZ29yeS5kZXZlbG9wZXItdG9v
		bHMifSwiYXBwSWNvbiI6eyJhc3NldCI6eyJuYW1lIjoiQXBwSWNvbiJ9fSwi
		Y2FwYWJpbGl0aWVzIjpbeyJwdXJwb3NlIjoib3V0Z29pbmdOZXR3b3JrQ29u
		bmVjdGlvbnMifV0sInN1cHBvcnRlZERldmljZUZhbWlsaWVzIjpbInBhZCIs
		InBob25lIl0sInN1cHBvcnRlZEludGVyZmFjZU9yaWVudGF0aW9ucyI6W3si
		cG9ydHJhaXQiOnt9fSx7ImxhbmRzY2FwZVJpZ2h0Ijp7fX0seyJsYW5kc2Nh
		cGVMZWZ0Ijp7fX0seyJwb3J0cmFpdFVwc2lkZURvd24iOnsiY29uZGl0aW9u
		Ijp7ImRldmljZUZhbWlsaWVzIjpbInBhZCJdfX19XX1dfV0sInRhcmdldHMi
		OlsiRGV2aWNlVGVzdEFwcE1vZHVsZSJdLCJ0eXBlIjp7ImV4ZWN1dGFibGUi
		Om51bGx9fV0sInRhcmdldE1hcCI6eyJEZXZpY2UiOnsiZGVwZW5kZW5jaWVz
		IjpbXSwiZXhjbHVkZSI6W10sIm5hbWUiOiJEZXZpY2UiLCJwYWNrYWdlQWNj
		ZXNzIjp0cnVlLCJwYXRoIjoiU291cmNlcyIsInJlc291cmNlcyI6W10sInNl
		dHRpbmdzIjpbXSwidHlwZSI6InJlZ3VsYXIifSwiRGV2aWNlVGVzdEFwcE1v
		ZHVsZSI6eyJkZXBlbmRlbmNpZXMiOlt7ImJ5TmFtZSI6WyJEZXZpY2UiLG51
		bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiRGV2aWNlVGVzdEFwcE1vZHVs
		ZSIsInBhY2thZ2VBY2Nlc3MiOnRydWUsInBhdGgiOiJEZXZlbG9wbWVudCIs
		InJlc291cmNlcyI6W3sicGF0aCI6IlJlc291cmNlcyIsInJ1bGUiOnsicHJv
		Y2VzcyI6e319fV0sInNldHRpbmdzIjpbeyJraW5kIjp7ImVuYWJsZVVwY29t
		aW5nRmVhdHVyZSI6eyJfMCI6IkJhcmVTbGFzaFJlZ2V4TGl0ZXJhbHMifX0s
		InRvb2wiOiJzd2lmdCJ9XSwidHlwZSI6ImV4ZWN1dGFibGUifSwiRGV2aWNl
		VGVzdHMiOnsiZGVwZW5kZW5jaWVzIjpbeyJieU5hbWUiOlsiRGV2aWNlIixu
		dWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkRldmljZVRlc3RzIiwicGFj
		a2FnZUFjY2VzcyI6dHJ1ZSwicGF0aCI6IlRlc3RzIiwicmVzb3VyY2VzIjpb
		XSwic2V0dGluZ3MiOltdLCJ0eXBlIjoidGVzdCJ9fSwidGFyZ2V0cyI6W3si
		ZGVwZW5kZW5jaWVzIjpbXSwiZXhjbHVkZSI6W10sIm5hbWUiOiJEZXZpY2Ui
		LCJwYWNrYWdlQWNjZXNzIjp0cnVlLCJwYXRoIjoiU291cmNlcyIsInJlc291
		cmNlcyI6W10sInNldHRpbmdzIjpbXSwidHlwZSI6InJlZ3VsYXIifSx7ImRl
		cGVuZGVuY2llcyI6W3siYnlOYW1lIjpbIkRldmljZSIsbnVsbF19XSwiZXhj
		bHVkZSI6W10sIm5hbWUiOiJEZXZpY2VUZXN0QXBwTW9kdWxlIiwicGFja2Fn
		ZUFjY2VzcyI6dHJ1ZSwicGF0aCI6IkRldmVsb3BtZW50IiwicmVzb3VyY2Vz
		IjpbeyJwYXRoIjoiUmVzb3VyY2VzIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19
		XSwic2V0dGluZ3MiOlt7ImtpbmQiOnsiZW5hYmxlVXBjb21pbmdGZWF0dXJl
		Ijp7Il8wIjoiQmFyZVNsYXNoUmVnZXhMaXRlcmFscyJ9fSwidG9vbCI6InN3
		aWZ0In1dLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9LHsiZGVwZW5kZW5jaWVzIjpb
		eyJieU5hbWUiOlsiRGV2aWNlIixudWxsXX1dLCJleGNsdWRlIjpbXSwibmFt
		ZSI6IkRldmljZVRlc3RzIiwicGFja2FnZUFjY2VzcyI6dHJ1ZSwicGF0aCI6
		IlRlc3RzIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOltdLCJ0eXBlIjoi
		dGVzdCJ9XSwidG9vbHNWZXJzaW9uIjp7Il92ZXJzaW9uIjoiNS45LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		XLwanDf748D/rKXdjICXhSGoeMGLmq40eolqnK/0HKQ=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.9.0</string>
	</dict>
</dict>
</plist>
